{% extends "layout.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="image">
            <img src="{{ url_for('static', filename='images/products/' + product.image) }}" alt="" width="400" height="400">
            {% if product.discount > 0 %}
            <h6 style="background-color: green; color: white; position: absolute; top: 0%; left: 0%;">&nbsp;{{ product.discount }}% Off!&nbsp;</h6>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <hr>
            <div>
                <b>Brand:</b>&nbsp;
                {{ product.brand.name }}
            </div>
            <div>
                <b>Origins:</b>&nbsp;
                {{ product.origins }}
            </div>
            <div>
                <b>Category:</b>&nbsp;
                {{ product.category.name }}
            </div>
            <div>
                <b>Price:</b>&nbsp;
                {% if product.discount > 0 %}
                <span class="text-danger" style="text-decoration: line-through;">{{ product.price }}đ</span>&ensp;
                {% set price = product.price | float %}
                {% set discount = product.discount %}
                {{"%.2f" | format(price * (1 - (discount / 100)) | float) }}đ
                {% else %}
                {{ product.price }}đ
                {% endif %}
            </div>
            <div>
                <b>Description:</b>
                <p> {{ product.desc }} </p>
            </div>
            <hr>
            <form action="{{ url_for('add_to_cart') }}" method="post">
                <input type="hidden" name="product_id" value = "{{ product.id }}">
                <button type="submit" class="btn btn-sm btn-success">Add to Cart</button>
                <label for="">Quantity:&nbsp;</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{ product.stock }}">
            </form>
            <!-- <a href="#" class="btn btn-sm btn-success">Add to Cart</a> -->
        </div>
    </div>
</div>
{% endblock %}