{% extends "layout.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <b>Invoice Number: </b>{{ invoice.invoice_number }}
            <br>
            <b>Status: </b>{{ invoice.status }}
            <br>
            <br>
            <table class="table table-sm">
                <thead>
                    <th>No.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Subtotal</th>
                </thead>
                <tbody>
                    {% for key, product in invoice.invoice_details.items() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="{{ url_for('static', filename='images/products/' + product.image) }}" alt="{{ product.name }}" width="100" height="100"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}đ</td>
                        {% if product.discount > 0 %}
                        <td>{{ product.discount }}%</td>
                        {% else %}
                        <td>0%</td>
                        {% endif %}
                        {% set price = product.price | float %}              
                        {% set discount = product.discount %}
                        {% set quantity = product.quantity | int %}
                        <td>{{"%.2f" | format(price * quantity * (1 - (discount / 100)) | float) }}đ</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><a href="" class="btn btn-success mt-2">Check Out</a></td>
                        <td><form action="{{ url_for('export_invoice', invoice_number=invoice.invoice_number) }}" target="_blank" method="POST"><button type="submit" class="btn btn-primary mt-2">Export PDF</button></form></td>                     
                        <td><a href="" class="btn btn-danger mt-2">Cancel Order</a></td>
                        <td colspan="2"><h4>Tax: </h4>{{ tax }}đ</td>
                        <td><h4>Grand Total: </h4>{{ grand_total }}đ</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
