{% extends "layout.html" %}

{% block content %}

<div class="container">
  {% from "_formhelpers.html" import render_field %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="text-center text-white bg-primary p-2">Login</h1>
      {% include "_messages.html" %}
      <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
          {{ render_field(form.email, class="form-control") }}
          {{ render_field(form.password, class="form-control") }}
        </dl>
        <p>
          <input type="submit" value="Login" class="btn btn-primary mt-2" />
          <a href="{{ url_for('login') }}" class="btn btn-info mt-2 float-right">Admin Login</a>
        </p>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
